{% extends 'base.html' %}

{% block title %}
    게시글 작성
{% endblock %}
{% block content %}
<div style='display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;'>
    <!-- 왼쪽 컬럼 -->
    <div style='grid-column: 1/2; margin: 10px'>
        {% if user.is_authenticated %}
        <div class="card">              
            <div class="card-body">                    
                <a href="{%url 'my_page' user.id%}" class="btn btn-primary">마이페이지</a>                    
            </div>      
        </div>
        {% endif %}
    </div>
    <!--오른쪽 컬럼-->
    <div style='display:grid; grid-column: 2/4; margin: 10px 40px 0px 20px'>
        <div style='height:50px'>
        </div>
        <div style="margin: 0px auto 0px auto;">
            <form method=post>
                {% csrf_token %}
                {{ create_tweet_form.as_p }}
                <button type="submit" class="btn btn-primary" style='width:100px;'>저장하기</button>
                <a href="{%url 'show_tweet'%}" class="btn btn-secondary">뒤로가기</a>
            </form>
        </div>
    </diV>
</div>

{% endblock %}