{% extends 'base.html' %}
{% block title %}
    상세 페이지
{% endblock %}
{% block content %}
<div style='display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;'>
    <!-- 왼쪽 컬럼 -->
    <div style='grid-column: 1/2; margin: 10px'>
        {% if user.is_authenticated %}
        <div class="card">              
            <div class="card-body">                    
                <a href="{%url 'my_page' user.id%}" class="btn btn-primary">마이페이지</a>                    
            </div>      
        </div>
        {% endif %}
    </div>
    <!--오른쪽 컬럼-->
    <div style='display:grid; grid-column: 2/4; margin: 10px 40px 0px 20px'>
        <div style='height:50px'>
            {% if detail.user == user %}
            <div style='float:right'>
                <a href="{% url 'update' detail.id %}" class="btn btn-primary">수정하기</a>
                <a href="{% url 'delete' detail.id %}" class="btn btn-secondary">삭제하기</a>
            </div>
            {% endif %}
        </div>
        <div class="card mb-3">
            <p class="card-text">{{ detail.user }}</p>
            <img
                    src="{{ detail.image }}"
                    class="card-img-top"
                    alt="...">
            <p class="post-meta" onclick="sendRequest({{ detail.id }}, this)">
                {% if user in detail.like.all %}
                    ♥ {{ detail.like.count }}
                {% else %}
                    ♡ {{ detail.like.count }}
                {% endif %}
            </p>
            <div class="card-body">
                <p class="card-text">{{ detail.content }}</p>
                <p class="card-text" style='text-align: right'>
                    <small class="text-body-secondary">{{ detail.create_at }}</small>
                </p>
            </div>
        </div>
            {% comment %} 댓글 작성하기  {% endcomment %}

        <div>
            <div class="form-floating">
                <form method='post'>
                    {% csrf_token %}
                    <textarea class="form-control" placeholder="Comment" id="floatingTextarea"></textarea>
                    <button type="submit" class="btn btn-outline-primary" style='width:100px;'>저장하기</button>
                </form>
            </div>
        </diV>
        {% comment %} 작성 댓글 보이기 {% endcomment %}
        {% for cm in comment %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0"> {{ cm.comment }} </h5>
                                    <span> {{ cm.author }} </span>
                                    <span> - {{ cm.created_at | timesince }} 전</span>
                                </div>
                                {% if cm.author == user %}
                                    <div style="float: right">
                                        <a href="/tweet/comment/delete/{{ cm.id }}">
                                            <span class="badge bg-danger">삭제</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

    </diV>
</div>
{% endblock %}