{% extends 'base.html' %}
{% block title %}
    피드 페이지
{% endblock %}
{% block content %}
<div style='display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;'>
    <!-- 왼쪽 컬럼 -->
    <div style='grid-column: 1/2; margin: 10px'>
        {% if user.is_authenticated %}
        <div class="card">              
            <div class="card-body">                    
                <a href="{%url 'followers' %}" class="btn btn-primary">팔로우 게시물</a>                    
            </div> 
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">팔로우 리스트</h5>
                    <ul class="list-group list-group-flush">
                        {% for follower in user.follower.all %}
                            <li class="list-group-item">
                                <a href="{% url 'my_page' follower.id %}" style="text-decoration-line: none;">
                                    <img
                                        src="{{ follower.imgfile.url }}"
                                        class="rounded-circle"
                                        width="50"
                                        height="50"
                                        alt="{{ follower.username }}"
                                    >
                                    {{ follower.username }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>   
        </div>
        {% endif %}
    </div>
    <!--오른쪽 컬럼-->
    <div style='display:grid; grid-column: 2/4; margin: 10px 40px 0px 20px'>
        <!--컬럼 상단-->
        <div style='height:50px'>
            {% if user.is_authenticated %}
            <div style='float:right'>
                <a href="{% url 'create_tweet' %}" class="btn btn-primary">작성하기</a>
            </div>
            {% endif %}
        </div>
        <!--컬럼 본문-->
        {% for tw in all_tweet %}
        <div class="card mb-3">
                    <p class="card-header">
                        <a href ="{% url 'my_page' tw.user.id %}" style="text-decoration-line: none;">
                            <img
                                src="{{ tw.user.imgfile.url }}"
                                class="rounded-circle"
                                width="50"
                                height="50"
                                alt="{{ tw.user }}"
                            >
                            {{ tw.user }}
                        </a>
                    </p>
            <a href='{% url 'detail' tw.id %}'>
                <img
                        src="/media/{{ tw.image.path }}"
                        class="card-img-top"
                        alt="...">
            </a>
            <p class="post-meta" onclick="sendRequest({{ tw.id }}, this)">
                {% if user in tw.like.all %}
                    ♥ {{ tw.like.count }}
                {% else %}
                    ♡ {{ tw.like.count }}
                {% endif %}
            </p>
            <div class="card-body">
                <p class="card-text">{{ tw.content }}</p>
                <p class="card-text" style='text-align: right'>
                    <small class="text-body-secondary">{{ tw.created_at }}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </diV>
</div>
{% endblock %}