{% extends 'base.html' %}

{% block title %}
사진 업로드
{% endblock %}
{% block content %}
<div class="container">
  <div class="wrap">
    <h2 class="title-center">사용자 사진 업로드</h2>
    <form class="form-area" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <div style="float: right">
        <button type="submit" class="btn btn-primary">업로드</button>
        <a href="{% url 'my_page' user.id %}" class="btn btn-secondary">뒤로가기</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
